*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    background-color: #111;
    border: none;
    margin: 4px 0px;
    border-radius: 4px;
    padding: 4px;
    color: white;
}


small{
    background-color: #dc3545;
    border-radius: 4px;
text-align: center;
}
small::before{
    content: "Total: " ;
    
}


button:hover{
    letter-spacing: 2px;
    transition: 150ms;

}
table{
text-align: center;
margin: 10px 0px;
}
.tb{
    width: 100%;
    overflow: auto;

} 
table th{
text-transform: uppercase;
}
th,td{
    padding: 5px;
}

